<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banner-Chinaums</title>
</head>
<body>
<link href="https://www.chinaums.com/images/public.css" rel="stylesheet" type="text/css">
<div class="footer_wrapper">
    <div class="fixed_width">
        <div class="footer_cot yinlian hidden-xs">
            <h3><img src="https://www.chinaums.com/images/footerLogo.png"/></h3>
            <div class="footer_box">
                <p>电话：021-60880818 （工作日）</p>
                <p style="margin-left: 43px;line-height: 24px;">95534</p>
                <p>地址：上海浦东新区张衡路1399号</p>
                <p>邮编：201203</p>
                <p>联系邮箱：<a href="mailto:office@chinaums.com">office@chinaums.com</a></p>
            </div>
        </div>
        <div class="footer_cot about_link hidden-xs">
            <h3>相关链接</h3>
            <div class="footer_box">

                <a href="https://www.chinaums.com/xwzx/gsgs/" target="_black">服务协议</a>


                <a href="https://www.chinaums.com/dblm/zfcn/" target="_black">支付承诺</a>


                <a href="https://www.chinaums.com/dblm/wzdt/" target="_black">网站地图</a>


                <a href="https://www.chinaums.com/gywm/hzhb/" target="_black">合作伙伴</a>


                <a href="https://www.chinaums.com/dblm/sytk/" target="_black">使用条款</a>


                <a href="https://www.chinaums.com/geongf/newHr/index" target="_black">加入我们</a>


                <a href="javascript:open_customerService();">在线客服</a>


                <a href="https://www.chinaums.com/supplierums/"
                   onClick="ga('send', 'event', '新站首页', '点击', '底部链接-采购公告');">采购公告</a>

                <a href="https://www.chinaums.com/dblm/wbfu/"
                   onClick="ga('send', 'event', '新站首页', '点击', '底部链接-外包服务商');">外包服务商</a>

                <!--<a href="javascript:;">支付承诺</a>
                <a href="javascript:;">合作伙伴</a>
                <a href="javascript:;">使用条款</a>
                <a href="javascript:;">加入我们</a>
                <a href="javascript:;">网站地图</a>
                <a href="javascript:;">在线客服</a>
                <a href="javascript:;">应用市场</a>
                <a href="javascript:;">官方微博</a>
                <a href="javascript:;">全站搜索</a>
                <a href="javascript:;">热门话题</a-->
            </div>
        </div>
        <div class="visible-xs footer_phone">
            <a href="https://www.chinaums.com/gywm/lxwm/">联系我们</a><span>|</span>
            <a href="https://www.chinaums.com/xwzx/gsgs/">服务协议</a><span>|</span>
            <a href="https://www.chinaums.com/dblm/zfcn/">支付承诺</a><span>|</span>
            <a href="javascript:open_customerService()">在线客服</a>
        </div>
        <div class="drcode">
            <div class="footer_weixin2">
                <img src="https://www.chinaums.com/images/wxfuh.png"/>
                <p>银联商务微信服务号</p>
            </div>
            <div class="footer_weixin">
                <img src="https://www.chinaums.com/images/weixin_bg.png" alt=""/>
                <p>银联商务微信订阅号</p>
            </div>
        </div>
        <div class="footer_cot hot_footer hidden-xs">
        </div>
        <!--div class="footer_cot about_link footerHelp hidden-xs">
             <h3>帮助与支持</h3>
            <div class="footer_box">
                <a href="javascript:;">平台介绍</a>
                <a href="javascript:;">新手指南</a>
                <a href="javascript:;">常见问题</a>
            </div>
        </div-->
    </div>
    <div class="footer_bot">
        <div class="fixed_width">
            <!-- <div class="footer_bot_box">
                <span>银联商务</span><span>版权所有</span> <span><a href="http://beian.miit.gov.cn/" style="color: #fff;">沪ICP备05003469号</a></span><i></i><b></b>
            </div> -->
            <div class="footer_bot_box">
                <span>银联商务</span><span>版权所有</span><span>本网站已支持IPv6</span>
                <span>
                    <a target="_blank"
                       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502007281"
                       style="display:inline-block;line-height:20px;color:#fff;"><img
                            src="https://www.chinaums.com/images/umsbeianbgs.png"
                            style="width: 20px;height:20px;margin-right: 10px;"/>沪公网安备 31011502007281号</a>
				</span>
                <span class="gaba" style="">
                    <a href="http://beian.miit.gov.cn/" style="">沪ICP备05003469号</a>
                    <a href="http://beian.miit.gov.cn/" style="">信息产业部备案管理系统</a>
                </span>
                <span class="hidden-xs">
                    <a target="_blank" href="https://www.chinaums.com/dblm/zfcn/201906/t20190626_35440.shtml"
                       style="display:inline-block;line-height:20px;color:#fff;">增值电信业务经营许可证：沪B1.B2-20140009</a>
                </span>
                <!--<a href="https://218.242.124.22:8082/businessCheck/verifKey.do?showType=extShow&serial=9031000020160423083950000000707748-SAIC_SHOW_310000-20160614095147516492&signData=MEUCIQCWpWoMd3tyzevfBBNFyUxFMx7NxBipGSsK4X5FbSq2JgIgEDHUMr3q86DQXrx43WUp84U373IP4PvZovdQg8+AesI=" target="_black"><i></i></a>-->
                <span class="pic_foot">
					<a class="" title="银联商务-营业执照" style="display: inline-block;    line-height: 20px;    color: #fff;"
                       href="http://wap.scjgj.sh.gov.cn/businessCheck/verifKey.do?showType=extShow&serial=9031000020180615095715000002628768-SAIC_SHOW_310000-20160614095147516673&signData=MEUCIQCWztme5RRBEIOVn3DSYdURTTjTIenHblrQGrX8vuAwqAIgYfAEy/Gx3CpscPPUTO58XAlhGd4swFg3ityPBKD0ulQ="
                       target="_black">
						<img style="width: auto; position: relative;  top: 5px;  height: 32px;    margin-right: 10px;"
                             src="https://www.chinaums.com/images/yingye_icon1.png"/>
					</a>
					<a class="" title="银联商务首批获得央行颁发的《支付业务许可证》"
                       style="display: inline-block;    line-height: 20px;    color: #fff;"
                       href="https://www.chinaums.com/dblm/zfcn/201906/t20190626_35439.shtml" target="_black">
						<img style="width: 27px;    height: 20px;    margin-right: 10px;"
                             src="https://www.chinaums.com/images/yingye_icon.png"/>
					</a>
				</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>