<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginForm-test</title>
</head>
<body>
<form method="post">
    {{ form.csrf_token }}
    {{ form.username.label }}{{ form.username }}<br>
    {% for message in form.username.errors %}
        <small class="errot">{{ message }}</small><br>
    {% endfor %}
    {{ form.password.label }}{{ form.password }}<br>
    {% for message in form.password.errors %}
        <small class="errot">{{ message }}</small><br>
    {% endfor %}
    {{ form.remember }}{{ form.remember.label }}<br>
    {{ form.submit }}<br>
    <p>以下为测试表单字段</p>
    {{ form.date.label }}{{ form.date }}<br>
    {{ form.datetime.label }}{{ form.datetime }}<br>
    {{ form.email.label }}{{ form.email }}<br>
    {% for message in form.email.errors %}
        <small class="errot">{{ message }}</small><br>
    {% endfor %}
</form>
</body>
</html>